body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

.product img {
    width: 100%;
    border-radius: 5px;
    position: relative;
    top: 30px;
}
